<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="SHORTCUT ICON" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../style.css">
    <title>JavaServer Faces Community</title>
</head>
<body>
    <p>The calendar component is a wrapper for the Yahoo UI (yui) calendar <a target="_blank"
    href="http://developer.yahoo.com/yui/calendar/">component</a>.  Currently, the component's
    only mode of operation is as a single, pop up calendar.  The plan for the component
    is to support both 2-up and "flat" (i.e., always showing) mode, as well as
    internationalization.</p>
    
    <p>The usage for the component is quite simple: 
    <textarea name="code" class="xml"><risb:calendar value="#{testBean.date}"></risb:calendar></textarea>
    The component will then be rendered like this:</p>
    
    <img style="padding-left: 5px" src="../images/calendar_01.png" alt="Calendar ready for use"/>
    
    <p>When the calendar icon is clicked, the pop-up calendar will be displayed:</p>
    
    <img style="padding-left: 5px" src="../images/calendar_02.png" alt="Pop up calendar displayed"/>
<link type="text/css" rel="stylesheet" href="syntaxHighlighter/SyntaxHighlighter.css"></link>
<script language="javascript" src="syntaxHighlighter/shCore.js"></script>
<script language="javascript" src="syntaxHighlighter/shBrushJava.js"></script>
<script language="javascript" src="syntaxHighlighter/shBrushXml.js"></script>
<script language="javascript">
	dp.SyntaxHighlighter.HighlightAll('code');
</script>
</body>
</html>
